<!DOCTYPE html>
    <html>
    <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width'>
      <title>About Sirius Awe</title>
      <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
    </head>
    <body>
    <strong>About Us</strong> <p>
                  Sirius Awe LLC is doing business as A Sirius Company. located in Boulder, Colorado.
                </p> <p><strong>contact</strong></p> <p>
                  ruben@asirius.co
                  @rubenmarket on social medai
                </p> <!----> <p><strong>Utopyism</strong></p> <p>
                  Utopyism is a mathemtical and logistical algorithm desgined to fix the issues we face today - 8/24/21 - and to improve the good of today .
                though utopyism is a public openource conceptual algorithm , our web implementation of Utopyism through code is not .
    </body>
    </html>
      