{% extends "index.html" %}
{% block title %} <title> Utopyism </title> {% endblock %}
{% block body %}
<body  class="index_page">
  <header>
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <div class="header-inner">
                    <!-- <div class="logo">
                        <a href="{{ url_for('home') }}"><img  src="{{ url_for('static',filename='images/utopyism.png') }}" alt="" /></a>
                   </div> -->
                      <div class="header-retting">
                        <script src="https://js.stripe.com/v3/"></script>
                      <form action="/create-checkout-session" method="POST">
                        <button type="submit" id="checkout-button" style="visibility:{{ visibility }}">Subscribe</button>
                      </form>
                      <div class="header-right">
                          <!-- <ul>
                              
                              <li class="d-block d-md-none"><a class="menu_icon" href="#"><img src="{{ url_for('static',filename='images/menu.svg') }}" alt="" /></a></li>
                          </ul> -->
                      </div>
                  </div>
                  <div></div>
              </div>
          </div>
      </div>
  </header>
  <section class="news-banner">
      <div class="news-banner-inner">
          <div class="pricing-table">
            <div class="row no-gutters">
                <div class="col">
                    <div class="pricing-box">
                        <a href="{{ url_for('news') }}">
                            <img src="{{ url_for('static',filename='images/news-icon.svg') }}" alt=""/>
    
                        </a>
                    </div>
                </div>
                <div class="col middle">
                    <div class="pricing-box">
                        <a href="{{ url_for('shop') }}">
                            <img src="{{ url_for('static',filename='images/shop-icon.svg') }}" alt=""/>
    
                        </a>
                    </div>
                </div>
                <div class="col col-last">
                    <div class="pricing-box">
                        <a href="{{ url_for('info') }}">
                            <img src="{{ url_for('static',filename='images/info-icon.svg') }}" alt=""/>
    
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
      
  </section>


  
{% endblock %}
