{% extends "index.html" %}
{% block title %} <title> Utopyism </title> {% endblock %}
{% block body %}
<body  class="index_page">
  <header>
      <div class="container-fluid">
          <div class="mobile-logo">
              <a href="#"><img  src="{{ url_for('static',filename='images/logo.svg') }}" alt="" /></a>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="header-inner">
                    <div></div>
                      <div class="header-retting">
                        <script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1NBP0TBRa4aUdrbVQtMss0tH"
  publishable-key="pk_test_51MoHqnBRa4aUdrbVEvka86Y5M67k6oLRYatu0j1myuiNGOn8U2oLzY7YimL8n5Hl2fXX3oUpYkUtK4NT3eLUD4Er00vMdO6qZx"
>
</stripe-buy-button>

                      <div class="header-right">
                          <!-- <ul>
                              
                              <li class="d-block d-md-none"><a class="menu_icon" href="#"><img src="{{ url_for('static',filename='images/menu.svg') }}" alt="" /></a></li>
                          </ul> -->
                      </div>
                  </div>
                  <div></div>
              </div>
          </div>
      </div>
  </header>
  <section class="news-banner">
      <div class="news-banner-inner">
          <div class="navigation">
              <ul>
                  <li>
                    <a href="{{ url_for('news') }}">
                        <img src="{{ url_for('static',filename='images/news-icon.svg') }}" alt=""/>

                    </a>
                </li>
                <li>
                    <a href="{{ url_for('shop') }}">
                        <img src="{{ url_for('static',filename='images/shop-icon.svg') }}" alt=""/>

                    </a>
                </li>
                <li>
                    <a href="{{ url_for('info') }}">
                        <img src="{{ url_for('static',filename='images/info-icon.svg') }}" alt=""/>

                    </a>
                  </li>
              </ul>
          </div>
          <div class="pricing-table">
            <div class="row no-gutters">
                <div class="col">
                    <div class="pricing-box">
                        <a href="#">
                            <h1>$0.0</h1>
                        </a>
                    </div>
                </div>
                <div class="col middle">
                    <div class="pricing-box">
                        <a href="#">
                            <h1>$0.0</h1>
                        </a>
                    </div>
                </div>
                <div class="col col-last">
                    <div class="pricing-box">
                        <a href="#">
                            <h1>$0.0</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
      
  </section>


  
{% endblock %}
