{% extends "index.html" %}
{% block title %} <title> info  </title> {% endblock %}
{% block body %}
    <body class="creat-page">
        <header>
            <div class="container-fluid">
                <div class="mobile-logo">
                    <!-- <a href="{{ url_for('home') }}"><img  src="{{ url_for('static',filename='images/logo.svg') }}" alt="" /></a> -->
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="header-inner">
                            <div class="logo">
                                 <a href="{{ url_for('home') }}"><img  src="{{ url_for('static',filename='images/logo.png') }}" alt="" /></a>
                            </div>
                            <div class="header-right">
                                <ul>
                                    <!-- <li><a class="creat_star creat_star_logo" href="{{ url_for('home') }}"><img src="{{ url_for('static',filename='images/logo.svg') }}" alt="" /></a></li> -->
                                    <!--<li class="d-block d-md-none"><a class="menu_icon" href="#"><img src="images/menu.svg" alt="" /></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </header>
        <section class="news-banner shop-banner">
            <div class="news-banner-inner">
                <div class="create-modal-main shop-main">
                    <div class="create-modal shop-product">
                        <div class="content-area">
                            <p><strong> 5/24/23</strong></p>

                            <p>Utopyism Under Development</p>
                            </p>

                        </div>
                       
                    </div>
                </div>
                <div class="pricing-table">
                    <div class="row no-gutters">
                        <div class="col">
                            <div class="pricing-box">
                                <a href="{{ url_for('news') }}">
                                    <img src="{{ url_for('static',filename='images/news-icon.svg') }}" alt=""/>
            
                                </a>
                            </div>
                        </div>
                        <div class="col middle">
                            <div class="pricing-box">
                                <a href="{{ url_for('shop') }}">
                                    <img src="{{ url_for('static',filename='images/shop-icon.svg') }}" alt=""/>
            
                                </a>
                            </div>
                        </div>
                        <div class="col col-last">
                            <div class="pricing-box">
                                <a href="{{ url_for('info') }}">
                                    <img src="{{ url_for('static',filename='images/info-icon.svg') }}" alt=""/>
            
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
        {% endblock %}