{% extends "index.html" %}
{% block title %} <title> info  </title> {% endblock %}
{% block body %}
    <body class="creat-page">
        <header>
            <div class="container-fluid">
                <div class="mobile-logo">
                    <!-- <a href="{{ url_for('home') }}"><img  src="{{ url_for('static',filename='images/logo.svg') }}" alt="" /></a> -->
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="header-inner">
                            <div class="logo">
                                <a href="#"></a>
                            </div>
                            <div >
                                <strong> INFO </strong>
                            </div>
                            <div class="header-right">
                                <ul>
                                    <!-- <li><a class="creat_star creat_star_logo" href="{{ url_for('home') }}"><img src="{{ url_for('static',filename='images/logo.svg') }}" alt="" /></a></li> -->
                                    <!--<li class="d-block d-md-none"><a class="menu_icon" href="#"><img src="images/menu.svg" alt="" /></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </header>
        <section class="news-banner shop-banner">
            <div class="news-banner-inner">
                <div class="navigation">
                    <ul>
                        <li>
                            <a href="{{ url_for('news') }}">
                                <img src="{{ url_for('static',filename='images/news-icon.svg') }}" alt=""/>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('shop') }}">
                                <img src="{{ url_for('static',filename='images/shop-icon.svg') }}" alt=""/>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('info') }}">
                                <img src="{{ url_for('static',filename='images/info-icon.svg') }}" alt=""/>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="create-modal-main shop-main">
                    <div class="create-modal shop-product">
                        <div class="content-area">
                           <p><strong> What is utopyism?</strong></p>

<p>-My invention,A Socio-techno-philosophical-economic-algorithmic societal structure. Name derived from perfecion, even though perfection is impossible in practice, this is the best it gets</p>
</p>
Directly solves these problems:
</p>
<p>
World Hunger, poverty, wealth inequality, inflation
</p>
<p>
Indirectly solves: war, racism, energy issues, mental health issues
</p>
<strong>How Does it Work?</strong>
 <p>
Everyone who signs in has an account, everyone with an account can vote on profit max and earn awecoin(the cryptocurrency) biweekly. Eventually everyone can use thier awecoin to buy items from our store such as merch or giftcards.
</p>
</p>
<strong>Why Subscribe?</strong>
 <p>
A subscription to utopyism is a contribution to peace on earth
 </p>
 <p>
Utopyism implementation and Algorithm(also on github)
</p>
Utopyism details:

Profit Maximum Company

Biweekly/weekly/quarterly profit max/cap vote

even distribution of cryptocurrency to all participants of company holding an account with them

repeat

How are the voting numbers calculated? there are always 3 voting options

take 4 variables (total/gross sales,Profit/Income,previous amount distributed to particpants,previous winning voting number)(Earnings sheet)

order them from least to greatest in number

|------|------|------|

least greatest

the median between each number are the options( 3 total )

to begin, previous amount distributed to particpants(0) and previous winning votng number(0)

number earned over voted profit max(biweekly/weekly) gets divided equaly and evenly to each participant of the company

Money earned over voted profit max(biweekly/weekly) gets directly injected into products or services that participants can buy with their cryptocurrency.

live voting

                        </div>
                       
                    </div>
                </div>
                
            </div>
        </section>
        {% endblock %}