<!DOCTYPE html>
    <html>
    <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width'>
      <title>Support</title>
      <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
    </head>
    <body>
    <strong>Support</strong> <p>
                  peeple - a social app is a tool for people to make friends find events and change the world
                </p> <p>
                  with the advent of social media people have gotten ever so distant from each other with images and words driving our social experiences.
                </p> <p>
                  peeple has been built as tool in more ways then one. not only should it be used to find local public events and find friends but also a route to a more sustainable and prosperous tomorrow.
                </p> <p>
                  all of peeples profits go towards furthering a peaceful planet.
                </p> <p>
                  if the app does not load data try to remove and reinstall
                </p> <p><strong>contact</strong></p> <p>
                  for questions concerns or objections please contact us at ruben@asirius.co
                
    </body>
    </html>
      